---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="homepage">

  <div class="block-left">
    <div class="content">
		<iframe width="1280" height="720" src="https://player.vimeo.com/video/201303068" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <div class="main-info">
      </div>
    </div>
    <canvas></canvas>
  </div>

  <div class="block-right">
    <a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a>
    <span class="posts-link">POSTS</span>
    <a title="projects" class="projects-menu-icon">
      <span></span>
    </a>
    <span class="projects-link">PROJECTS</span>
    <div class="content">
      <div class="about-info">
        {{ content }}
		{% include social-links.html %}
      </div>
    </div>
  </div>
  {% include overlay.html %}
  {% include scripts.html %}
  <script src="{{ site.url }}/assets/js/canvas.js"></script>
</body>
</html>
